@import "../../core/constants";
@import "../../core/mixins";

$elementHeight: 34px;

spinner {
    display: inline-block;
    color: #fff;
    font-size:21px;
    font-family: 'Lato', sans-serif;
    border-radius:5px;
}

.spinner-container {
    display: block;
    flex-wrap:wrap;
    overflow: hidden;
    // overflow-y: scroll;
    height:$elementHeight*5;
    position: relative;
}

.spinner-container spinner-item {
    height: $elementHeight;
}
