@use "../../core/constants" as *;
@use "../../core/mixins" as *;

dashboard {
    font-family: 'Lato', sans-serif;
}
.dashboard {
    display: block;
    padding-top: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dashboard-title {
    font-family: 'Lato', sans-serif;
    transform: rotate(-1.3deg) translateY(-3vw);
    font-size: 11vw;
    transform-origin: center center;
    margin: 0;
    font-weight: 900;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.dashboard-title-wrapper {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 8.5vw;
}

.dashboard-container {
    display: flex;
    width: 100%;
    height: calc(100% - 172px);
    flex-flow: column;
    justify-content: center;
    position: relative;
}

.dashboard-row {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    &.__isHidden {
        display: none;
    }
}

.dashboard-btn {
    border: none 0 transparent;
    font-size: 66px;
    background-color:transparent;
    text-shadow: 0 7px 30px rgba(0,0,0,1);
    transition: all ease .3s;
    color: #fff;
    font-weight:100;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: .1em;
    &.__isHidden {
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }
    &:hover,
    &:focus {
        text-shadow: 0 7px 30px rgba(0,0,0,1),  0 0px 20px rgba(0,0,0,.8);
        letter-spacing: .3em;
        // transform: translateY(-4px);
    }
}

dashboard > footer {
    bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;

    > a {
        color: #fff;
        font-size:12px;
        font-weight: normal;
        opacity: .8;
        color: #fff;
        transition:.2s all ease;
        text-decoration: none;
        display: inline-block;

        &:hover {
            opacity: 1;
            transform:scale(1.4);
        }
        span {
            text-decoration: underline;
        }
    }
}

dashboard spinner{
    width: 30%;

    &+ spinner {
        margin-left: 15px;
    }
}
