@import "../../core/constants";
@import "../../core/mixins";

spinner-item {
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    align-items:center;
    justify-content: center;
    // transition: ease-in all .1s;
    font-weight: bold;
    transform: scale(.5);
    opacity: .5;
    font-weight: normal;
}

.spinner-text {
    display: inline-block;
}
